/* @override 
	http://readysitebuild.com/sites/default/modules/chargify_sites/chargify_sites.css?C
	https://readysitebuild.com/sites/default/modules/chargify_sites/chargify_sites.css?C
*/

/* @group Payment Page */

#chargify-sites-product-page div.chargify-sites-product-description {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 18px;
}

#chargify-sites-product-page div.chargify-sites-product-description div.chargify-product-price {
	font-size: 1.2em;
	float: right;
	text-align: right;
	line-height: 1.5em;
	padding: 0 0 12px 12px;
}

#chargify-sites-product-page div.chargify-sites-product-description div.chargify-product-price span.price {
	font-size: 1.5em;
	display: block;
	font-weight: bold;
}

#chargify-sites-product-page form#node-form,
#chargify-sites-payment-form div.login-register-wrapper,
#chargify-sites-payment-form div.payment {
	clear: right;
	padding: 18px 24px 24px;
	border: 1px solid #cecece;
	border-bottom-color: #a7a7a7;
	color: #747474;
	background: #f5f5f5 url(/sites/all/themes/webgear/cog/images/bg_fieldset.png) repeat-x 0 bottom;
	font: 12px/18px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#chargify-sites-product-page input#edit-field-domain-0-url,
#chargify-sites-product-page form#node-form input#edit-captcha-response {
	font-size: 2em;
	font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	padding: 6px 10px;
	width: 458px;
}

#chargify-sites-product-page form#node-form input#edit-submit {
	font-size: 1.3em;
	padding: 6px 16px 8px;
}

#chargify-sites-product-page form#node-form input#edit-submit:hover {
	background: #2a7f9b;
}

#chargify-sites-product-page form#node-form #edit-captcha-response-wrapper span.field-prefix,
#chargify-sites-product-page form#node-form input#edit-captcha-response {
	color: #000;
	font-size: 1.5em;
}

#chargify-sites-product-page form#node-form #edit-captcha-response-wrapper label {
	display: none;
}

#chargify-sites-product-page form#node-form input#edit-captcha-response {
	width: 25px;
}

/* @end */

/* @group Payment form */

#chargify-sites-payment-form h2.fieldset-title {
	font-size: 1.2em;
}

#chargify-sites-payment-form div.login-register-wrapper {
	float: left;
	margin-bottom: 10px;
	width: 630px;
}

#chargify-sites-payment-form div.login-register-wrapper div.form-item {
	background: none;
}

#chargify-sites-payment-form div.fieldset {
	padding-top: 40px;
}

#chargify-sites-payment-form legend {
	text-transform: none !important;
	letter-spacing: 0;
	font-size: 1.6em;
}

#chargify-sites-payment-form label {
	text-transform: none;
	font-weight: normal;
	font-size: 1.1em;
}

#chargify-sites-payment-form div.register,
#chargify-sites-payment-form div.login {
	margin: 0;
	width: 315px;
	background: none;
	border: none;
	padding: 0;
}

#chargify-sites-payment-form div.register legend,
#chargify-sites-payment-form div.login legend {
	position: relative;
	text-indent: -24px; /* TODO: figure out why this is happening */
	top: 0;
	text-transform: none !important;
	letter-spacing: 0;
	font-size: 1.6em;
}

#chargify-sites-payment-form input.form-text {
	max-width: 340px;
}

#chargify-sites-payment-form div.register {
	float: left;
}

#chargify-sites-payment-form div.login {
	float: right;
}

#chargify-sites-payment-form div.payment {
	clear: left;
}

#chargify-sites-payment-form div.payment #edit-first-name-wrapper,
#chargify-sites-payment-form div.payment #edit-last-name-wrapper,
#chargify-sites-payment-form div.payment #edit-card-number-wrapper,
#chargify-sites-payment-form div.expiration {
	float: left;
	width: 305px;
}

#chargify-sites-payment-form div.payment #edit-first-name-wrapper,
#chargify-sites-payment-form div.payment #edit-last-name-wrapper,
#chargify-sites-payment-form div.payment #edit-card-number-wrapper,
#chargify-sites-payment-form div.expiration {
	float: left;
	width: 305px;
}

#chargify-sites-payment-form div.payment div.name #edit-last-name-wrapper,
#chargify-sites-payment-form div.expiration {
	float: right;
}

#chargify-sites-payment-form div.payment div.cc-info {
	clear: left;
}

#chargify-sites-payment-form #edit-expiration-month-wrapper label {
	display: none;
}

#chargify-sites-payment-form #edit-expiration-month-wrapper,
#chargify-sites-payment-form #edit-expiration-year-wrapper {
	width: 150px;
	float: left;
}

#chargify-sites-payment-form input.form-submit {
	clear: both;
}

#chargify-sites-payment-form #edit-card-number-wrapper {
	padding-bottom: 47px;
	background: url(visa-mastercard.png) no-repeat 0 100%;
}

/* @end */

/* @group States */

div.chargify-state {
	font-size: 1.2em;
	display: inline;
	background: #ccc;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	padding: 5px 10px;
	border: solid 1px #999;
	border-top: 0;
	border-left: 0;
}

div.chargify-state-active {
	background-color: #aeffc0;
	border-color: #90d39f;
	text-transform: uppercase;
}

/* @end */

